
@model List<Teacher>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/teacher/create">Create New</a>
<table class="table table-primary table-bordered">
    <thead>
        <tr>
            <th>Sn</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="/teacher/edit/@item.Id">Edit</a>
                    <a asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Delete</a>
                </td>
            </tr>
        }

       
    </tbody>
</table>