@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Description <a href="@Model.Link">@Model.LinkText</a>.</p>\
</div>
